* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
}
.contanier {
  margin: 0 10rem;
  text-align: center;
}
.hero {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.free-shipping {
  background-color: #730d17;
  color: white;
  padding: 1.5rem 3.25rem;
  border-radius: 10px;
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 20px;
}
.hero h1 {
  color: white;
  margin: 2rem 0;
}
.hero p {
  color: #debf91;
  font-size: 3rem;
  text-align: center;
}
.main-btn {
  background-image: linear-gradient(80deg, #7d6644 0%, #eadcb7 100%);
  color: black;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  border-radius: 10px;
  font-weight: 700;
}

/* Start Gallary  */
.gallary {
  background-image: radial-gradient(
    at bottom center,
    #212121 26%,
    #000000d4 100%
  );
  padding: 1rem 0;
}
.gallary h2 {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.gallary ul {
  list-style: none;
  color: white;
  text-align: right;
  margin-top: 2rem;
}

.gallary ul li {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  position: relative;
}

.gallary ul li::before {
  content: "\e28c";
  background-color: #DEBF91;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1rem;
}
